<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Error</title>
  <!-- Add your CSS styles here or include a separate CSS file -->
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .container {
      padding: 50px;
    }

    h1 {
      color: #d32f2f;
    }

    p {
      color: #777;
      font-size: 18px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Error</h1>
  <p>Oops! Something went wrong.</p>
  <!-- You can customize the error message further, or display specific information about the error -->
</div>
</body>
</html>
